<%@ Master Language="C#" MasterPageFile="~/Layout/Features.master" AutoEventWireup="true" CodeBehind="AgentFeatures.master.cs" Inherits="ENETCare.GUI.Layout.AgentFeatures" %>

<asp:Content ID="AgentFeatureAsideContent" ContentPlaceHolderID="FeatureAsideContent" runat="server">
    <!--panel start-->
    <div class="panel panel-default">
        <!-- panel contents -->
        <div class="panel-heading">Tasks</div>

        <!-- list group -->
        <div class="list-group">
            <a class="list-group-item" href="AgentRegisterPackage.aspx">Register Package</a>
            <a class="list-group-item" href="AgentSendPackage.aspx">Send Package</a>
            <a class="list-group-item" href="AgentReceivePackage.aspx">Receive Package</a>
            <a class="list-group-item" href="AgentViewReport.aspx">View Report</a>
        </div>
        <!-- panel ocntents end -->
    </div>
    <!--panel end-->
</asp:Content>
<asp:Content ID="AgentFeatureMainContent" ContentPlaceHolderID="FeatureMainContent" runat="server">
    <asp:contentplaceholder id="SpecificAgentFeatureMainContent" runat="server">
    </asp:contentplaceholder>
</asp:Content>
