<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ENETCare.Presentation-20150329093129.mdf;Initial Catalog=aspnet-ENETCare.Presentation-20150329093129;Integrated Security=True"/>
    <add name="MockupDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MockupDB.mdf;Initial Catalog=MockupDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>