body.basicbody {
  margin: 0px auto;
  padding: 0px;
}
header.navbar-default.navbar-fixed-top {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  outline: none;
  display: table;
}
header.navbar-default.navbar-fixed-top > div {
  width: 100%;
  text-align: center;
  display: table-row;
}
header.navbar-default.navbar-fixed-top > div div {
  display: table-cell;
  vertical-align: middle;
}
header.navbar-default.navbar-fixed-top > div div:first-child {
  width: 14%;
  margin: 8px auto;
  padding: 0px 8px;
}
header.navbar-default.navbar-fixed-top > div div:first-child i {
  color: rgba(255, 0, 0, 0.9);
}
header.navbar-default.navbar-fixed-top > div div:last-child {
  width: 18%;
}
header.navbar-default.navbar-fixed-top > div div:nth-child(2) {
  padding: 0px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}
header.navbar-default.navbar-fixed-top > div div:nth-child(2) span {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.9);
}
footer.navbar-fixed-bottom {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  outline: none;
}
footer.navbar-fixed-bottom > div {
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
footer.navbar-fixed-bottom > div table {
  width: 100%;
  height: auto;
  table-layout: fixed;
}
footer.navbar-fixed-bottom > div table tr {
  padding: 0px;
}
footer.navbar-fixed-bottom > div table tr td:first-child {
  width: 16%;
}
footer.navbar-fixed-bottom > div table tr td:nth-child(2) {
  width: 68%;
  font-weight: bold;
}
footer.navbar-fixed-bottom > div table tr td:nth-child(2) i {
  color: rgba(255, 0, 0, 0.9);
}
footer.navbar-fixed-bottom > div table tr td:last-child {
  margin: 6px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
footer.navbar-fixed-bottom > div table tr td:last-child i {
  color: rgba(255, 0, 0, 0.9);
}
section.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  top: 60px;
  bottom: 60px;
  display: table;
}
section.container > div.jumbotron {
  width: 100%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  background-color: #f8f8f8;
}
section.container > div.jumbotron > table {
  width: 100%;
  height: auto;
  padding: 0px;
}
section.container > div.jumbotron > table tr td:nth-child(2) {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
}
section.container > div.jumbotron > table tr td:nth-child(2) > div {
  margin: 0 auto;
  padding: 0px 15px;
  width: 46%;
  height: auto;
}
section.container > div.jumbotron > table tr td:nth-child(2) > div .form-signin {
  max-width: 330px;
}
section.container > div.jumbotron > table tr td:nth-child(2) > div .form-signin .form-signin-heading {
  margin-bottom: 10px;
}
section.container > div.jumbotron > table tr td:nth-child(2) > div .form-signin input {
  margin-bottom: 10px;
  position: relative;
  height: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
div#srMain {
  vertical-align: middle;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}
div#dibu-body {
  vertical-align: middle;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}
div#dibu-body form div.distrb {
  margin: 0 auto;
  width: 60%;
  text-align: right;
}
div#dibu-body form div.distrb > input {
  margin: 10px 0px;
}
div#audit-body {
  vertical-align: middle;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}
div#audit-body > div form.form-horizontal div.distrb {
  width: 60%;
}
div#rp-body {
  vertical-align: middle;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}
